<div id="about" class="about" ng-controller="aboutCtrl">
  <h1 class="double-border">Get To Know Me</h1>

  <p class="large-margin lead">
    Developer comfortable working with Javascript, Ruby, and sushi lunches. I enjoy programming, design, hiking, beer, Louis CK, and Flight of the Conchords. Preferably at the same time.
  </p>

  <section class="about-list">
    <div class="row">
      <ul class="list-unstyled">
        <li class="col-sm-12 col-md-4 grid-list-block" ng-repeat="block in blocks">
          <h2 class="list-title">{{block.title}}</h2>
          <p>{{block.content}}</p>
        </li>
      </ul>
    </div>
  </section>
</div>