#header-main {
  background-image: url("../../static/images/header_background.jpeg");
  background-size: cover;
  color: white;
  padding: 40px 0;
}

.header-intro {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: bold;
}

.header-lead {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 16px;
  line-height: 32px;
}

.header-nav {
  font-style: italic;
  font-size: 18px;
}