$red: rgb(196,77,88);
$pink: rgb(255,107,107);
$green: rgb(147,204,138);
$grey: rgb(40,48,61);
$off-white: rgb(246,245,242);

@import 'base';
@import 'layout';
@import 'components';
@import 'modules';