<div class="container">
  <section class="col-sm-12 col-md-8 header-content">
    <h1 class="depth" title="jonrogozen">jonrogozen</h1>
    <p class="header-intro">
      frontend web developer
    </p>
    <div class="medium-margin header-lead">
      if(programming) {
      return [<span class="magnify-text">"javascript",</span> <span class="magnify-text">"ruby",</span> <span class="magnify-text">"angular",</span> <span class="magnify-text">"jquery",</span> <span class="magnify-text">"rails",</span> <span class="magnify-text">"node",</span> <span class="magnify-text">"sass",</span> <span class="magnify-text">"gulp",</span> <span class="magnify-text">"mongo",</span> <span class="magnify-text">"postgres"</span>];
      }
    </div>
    <nav class="small-margin header-nav">
      <ul class="nav-list">
        <li><a href="">about</a></li>
        <li><a href="">portfolio</a></li>
        <li><a href="">work</a></li>
        <li><a href="">social</a></li>
        <li><a href="">blog</a></li>
      </ul>
    </nav>
  </section>
</div>