<div id="connect" class="social" ng-controller="socialCtrl">
  <h1 class="double-border">Connect</h1>

  <div class="row">
    <section class="col-sm-12 col-sm-7 social-blurb">
      <h2 class="list-title">Jon Rogozen</h2>
      <p>25 year old software developer, drinking game connoisseur, eclectic music lover, runner, professional donut eater, and naturally talented puppy-admirer.</p>
      
      <ul class="nav-list social-links">
        <li><a target="_blank" href="http://github.com/jrogozen"><i class="fa fa-github-alt fa-lg"></i></a></li>
        <li><a target="_blank" href="http://twitter.com/jonrogozen"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a target="_blank" href="http://linkedin.com/in/jonrogozen"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a target="_blank" href="https://drive.google.com/file/d/0By4uKTmaxsWjZVRKakN2UzJMdm8/view?usp=sharing"><i class="fa fa-file-pdf-o fa-lg"></i></a></li>
      </ul>
    </section>

    <section class="col-sm-12 col-sm-5">
      <h2 class="list-title">Blog Feed</h2>
      <p>Looks like there's no blog posts yet...</p>
    </section>
  </div>
</div>